@font-face {
  font-family: var(--bs-font-sans-serif);
  /* font-display: block; */
  src: url("../bootstrap.css");
}

:root {
  --atlona-orange: #ff6633;
  --atlona-black: #000;
  --active-links: #017698;
  --banner-gradients: #004976;
  --active-hotspots-links: #43b02a;
  --status-warning: #f4b223;
  --error-msg: #d0021b;

  --secondary-title: #303030;
  --secondary-header: #595959;
  --secondary-table: #f0f0f0;
  --page-background: #fff;

  --text-color: #444;
}

body {
  color: var(--text-color);
  overflow-x: hidden;
  overflow-y: unset;
}

#page {
  background-color: #d3d3d3;
  min-height: 100vh;
}
#page-title {
  padding-top: 5px;
  margin-bottom: 0.2rem;
}

#logo {
  width: 400px;
  height: auto;
  color: #fff;
  margin-left: 8px;
}

#menu {
  position: relative;
  min-height: calc(100vh - 95px);
  background-color: #222;
  box-shadow: 24px 0px 16px -16px rgba(0, 0, 0, 0.4);
  width: 200px;
  padding-right: 20px;
}

.sidebar {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 200px;
  padding-right: 2rem;
  padding-left: 2rem;
}

#menu::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 0;
  height: 100%;
  padding-bottom: 2rem;
}

nav {
  color: #fff;
  position: relative;
  background-color: #222;
}

nav::after {
  content: "";
  position: absolute;
  left: 200px;
  bottom: 0;
  width: 100%;
  box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.4);
}
.logout-btn {
  color: #fff !important;
  transition: none !important;
  padding-top: 5px;
  margin-top: 3px;
}

.logout-btn:hover {
  color: var(--atlona-orange) !important;
}

.logout-btn:hover > svg {
  fill: var(--atlona-orange) !important;
}

.sidebar-container {
  margin-left: 0 !important;
  padding-left: 16% !important;
  background-color: #222;
  max-width: 90vw !important;
}

.primary {
  color: var(--atlona-orange);
}

.btn {
  color: #fff;
}

.primary-btn {
  background-color: var(--atlona-orange) !important;
  color: #fff !important;
}

.login-card {
  width: 450px;
}

.login-card-body {
  background-color: rgba(0, 0, 0, 0.03);
}

.registration-card {
  background-color: #d3d3d3 !important;
  width: 450px;
}

section {
  background-color: #d3d3d3;
  margin-bottom: 1rem;
}

.cntrl-row {
  background-color: #d3d3d3;
  margin-right: 0px !important;
}

#content {
  margin-right: 0 !important;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

.primary span {
  color: var(--atlona-orange);
}

.menu-link:hover {
  color: var(--atlona-orange) !important;
}

#upload,
#upload-settings {
  display: block;
}

.upload-block {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
}

.center-card {
  position: fixed;
  left: calc(50% - 200px);
  top: calc(35% - 112px);
  width: 400px;
  z-index: 10001;
  box-shadow: 0 0 10px 5000px rgba(0, 0, 0, 0.8) !important;
}

.card {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.25) !important;
  border-radius: 0.5rem !important;
}

.card-header {
  background-color: #222 !important;
  color: #fff;
  margin: 0;
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
}

.dash-card-header {
  height: 2.5rem;
}

a:hover > svg {
  fill: var(--atlona-orange) !important;
}

.screen-break,
.screen-break-2 {
  display: none;
}

.dash-table {
  table-layout: fixed;
}
.table-data {
  border-bottom: 1px solid#ccc;
  text-align: right;
  max-width: 140px;
}

.table-header {
  white-space: nowrap;
  text-align: left;
}

.heavy-text {
  font-weight: 700;
}

/* Tool Tip Modal */
i[data-tool-tip] {
  position: relative;
}

i > svg:hover {
  transform: scale(1.1);
  cursor: pointer;
}

i[data-tool-tip]::after {
  white-space: pre-line;
  content: attr(data-tool-tip);
  display: block;
  position: absolute;
  background-color: #fff;
  padding: 1em 3em;
  color: var(--text-color);
  border-radius: 5px;
  font-size: 0.7em;
  top: 4em;
  left: 4em;
  width: 18rem;
  z-index: 1;
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
  padding: 2em 2.8em;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  /* line-height: 1.5; */
}

i[data-tool-tip].tooltip-active:after {
  opacity: 1;
}

/* sensors.htm styles  */
.ledindicatortable {
  border-collapse: separate;
  border-spacing: 0 15px;
}

.light-table {
  margin-right: 30%;
  margin-left: 30%;
}

.led-input {
  height: 34px;
}

.temp-select {
  padding: 0.075rem 0.75rem !important;
  width: 20% !important;
}
/* UDP styles */
table {
  border-collapse: collapse;
  text-align: center;
}
#subscriber td {
  padding: 1rem;
  vertical-align: middle;
}

#sublist {
  border-collapse: collapse;
}

#footer {
  text-align: right;
}

/* Toggle Switch CSS */
/* The switch - the box around the slider */
.switch {
  margin-top: 0.2rem;
  position: relative;
  display: inline-block;
  width: 20px;
  height: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000080;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: -1px;
  bottom: -2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0 2px var(--atlona-black);
}

input:checked + .slider {
  background-color: var(--active-hotspots-links);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--active-hotspots-links);
}

input:checked + .slider:before {
  background-color: #008a28;
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Hide arrows on number inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Mobile Menu Transition */
.mobile-menu {
  transform: translateX(500px);
  z-index: 10;
  box-shadow: 0 0 50px 1500px rgba(0, 0, 0, 0.6) !important;
  transition: transform 0.5s;
  background-color: #222;
  padding: 2rem 2rem 100vh 2rem;
}

/* #loadOverlay {
	display: block;
} */

.redirect-link a {
  color: #0d6efd !important;
}

#temp-event-select {
  min-width: 60px;
}

#protocols-card {
  min-width: 170px;
}

.sm-select {
  margin: auto;
}

.subscribers-entry {
  margin-top: 2rem;
}

.first-entry {
  margin-top: 1rem !important;
}

.subscribers-entry h6 {
  margin-bottom: 0.5rem;
  text-decoration: underline;
}

.d-none-lg div {
  /* display: none; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.subscribers-btns {
  display: block;
  margin: 1.5rem 0;
}

.system-card {
  max-width: 660px !important;
}

.text-left {
  text-align: left;
}

.check-input {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-input-lg {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ip-input {
  width: 38%;
  height: 100%;
  margin-right: 1rem;
}

.port-input {
  width: 20%;
  height: 100%;
}

.udp-row {
  margin-bottom: 1rem;
  align-items: center;
}

.udp-sub-headers {
  font-size: 16px;
}
@media (max-width: 1730px) {
  .sidebar-container {
    padding-left: 8% !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
  }
}
@media (min-width: 1350px) {
  .xxl {
    width: 16.66667% !important;
  }
}

@media (max-width: 1400px) {
  .screen-break-2 {
    display: block;
  }
  .temp-select {
    width: 50% !important;
    /* background-image: none !important; */
  }
  i[data-tool-tip]::after {
    right: 0em;
    left: auto;
    top: 2.5em;
  }
}

@media (min-width: 992px) {
  .subscribers-btns {
    display: inline-block;
    margin: 0 0 0 1rem;
  }

  .subscribers-btns input {
    margin-right: 1rem !important;
  }
}
@media (max-width: 768px) {
  .screen-break {
    display: block;
  }
  .udp-sub-headers {
    font-size: 13px;
  }
}
@media (max-width: 690px) {
  #logo-link {
    width: 100% !important;
  }
  body {
    overflow-x: hidden;
  }
  #menu {
    display: contents;
  }
  .sidebar-container {
    background-color: #d2d2d2;
  }
  .sidebar {
    left: -500px;
  }
  .mobile {
    width: 100% !important;
  }

  .mobile-table {
    display: inline;
  }

  nav::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.4);
  }

  .row {
    --bs-gutter-x: 0rem !important;
  }

  .publish-topics .row {
    --bs-gutter-x: 1rem !important;
  }
}
@media (max-width: 600px) {
  .datatablebox {
    width: 75% !important;
  }
  /* .sm-select {
		padding: 0.275rem !important;
	} */
}
